---
layout: page
title: "About"
description: "Who are you?"
header-img: "img/banner.png"
---
<hr>

{% for member in site.data.members %} {% if member.visible == true %}

	<img src="{{ member.img }}" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; width:150px !important">

	<h1>{{ member.name }}</h1>

	<h2>{{ member.role }}</h2>

	{% if member.github %}
	<span class="social-share-googleplus"><a href="https://github.com/{{ member.github }}" title="Github"><img src="{{ "/img/icons/github-icon.png" | prepend: site.baseurl }}" style="height:20px">Github</a></span>
	{% endif %}
	{% if member.strava %}
	<span class="social-share-googleplus"><a href="{{ member.strava }}" title="Strava"><img src="{{ "/img/icons/strava-icon.png" | prepend: site.baseurl }}" style="height:20px">Strava</a></span>
	{% endif %}
	{% if member.url %}
	<span class="social-share-googleplus"><a href="{{ member.url }}" title="URL"><img src="{{ "/img/icons/url-icon.png"| prepend: site.baseurl }}" style="height:20px">Website</a></span>
	{% endif %}

	</br>

	{% if member.bio %}
	{{ member.bio }}
	{% endif %}
	<br>
	<a href="https://github.com/arm61/arm_cv/raw/master/resume.pdf">Download CV</a>
	<br>
	<a href="https://scholar.google.co.uk/citations?user=nfB-dDEAAAAJ&hl=en">Publications</a>

	<hr>

{% endif %}{% endfor %}
