@font-face {
  font-family: 'Ubuntu Mono';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/UbuntuMono-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/UbuntuMono-700.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/UbuntuMono-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/UbuntuMono-700italic.ttf') format('truetype');
}